.main-div {
    display: flex;
}

p {
    color: blue;
}

.menu-template {
    width: 10%;
    height: 100vh;
}

.form {
    display: flex;
    width: 100%;
    background-color: rgb(244, 243, 251);
    border-radius: 10px;
}

.form-section-left,
.form-section-right {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    width: 50%;
}

label {
    color: rgb(30, 49, 144);
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 1.2rem;
}

input {
    width: 99%;
    height: 50px;
    background-color: white;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 5px;
    font-size: 1.2rem;
    padding-left: 1rem;
}

select {
    width: 102%;
    height: 55px;
    background-color: white;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 5px;
    font-size: 1.2rem;
    padding-left: 1rem;
}

#dateInput {
    height: 52px;
}

input:focus {
    outline: none;
}

select:focus {
    outline: none;
}

textarea {
    border: 1px solid rgb(192, 192, 192);
    border-radius: 5px;
    font-size: 1.2rem;
    padding: 1rem;
    resize: none;
}

textarea:focus {
    outline: none;
}

.employees-section {
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.employees-section-img {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 100%;
    background-color: antiquewhite;
}

.employees-section-plus-btn {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 100%;
    margin-left: 1rem;
}

.employees-section-plus-btn:hover {
    cursor: pointer;
    opacity: 0.7;
}

.choose-employee {
    position: absolute;
    left: 70%;
    background-color: white;
    padding-left: 1rem;
    padding-top: 0.5rem;
}

.employee {
    display: flex;
    align-items: center;
    padding-bottom: 0.5rem;
}

.employee:hover {
    cursor: pointer;
    opacity: 0.8;
    background-color: rgb(102, 115, 180);
}

.employee-name {
    padding: 0.5rem;
    font-size: 1rem;
}

.form-btn-section {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.cancel-btn {
    border: 2px solid rgb(244, 243, 251);
    background-color: rgb(244, 243, 251);
    color: rgb(30, 49, 144);
    font-weight: bold;
    font-size: 1.2rem;
    padding: 1rem;
    border-radius: 10px;
}

.cancel-btn:hover {
    cursor: pointer;
    border: 2px solid rgb(30, 49, 144);
}

.create-task-btn {
    background-color: rgb(30, 49, 144);
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 1rem;
    border-radius: 10px;
    border: 2px solid rgb(30, 49, 144);
    margin-left: 2rem;
}

.create-task-btn:hover {
    cursor: pointer;
    background-color: rgb(46, 68, 179);
}

.link-area {
    display: flex;
    justify-content: center;
    align-items: center;
}

#linkToBacklog {
    text-decoration: none;
    margin-top: 1rem;
}

@media(max-width: 1000px) {
    .form {
        flex-direction: column;
        align-items: center;
    }
    .choose-employee {
        left: 50%;
        top: 165%;
    }
}

@media(max-width: 700px) {
    .form-section-left,
    .form-section-right {
        width: 80%;
    }
    input {
        width: 94%;
    }
    select {
        width: 100%;
    }
    .form-btn-section {
        flex-direction: column-reverse;
    }
    .cancel-btn {
        margin-top: 1rem;
    }
    .create-task-btn {
        margin-left: 0;
    }
    .choose-employee {
        left: 25%;
    }
}

@media(max-width: 400px) {
    .choose-employee {
        left: 15%;
    }
}