/* === GENERAL === */

.body {
    display: flex;
}

/* === BACKLOG-CONTAINER === */

.backlog-container {
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
}

.backlog-container p {
    font-size: 12px;
    margin-top: 4px;
}

.headlines {
    display: flex;
    justify-content: space-between;
}