.boad-div {
    flex: 1;
}

.column {
    width: 20%;
    text-align: center;
}

.tasks-container {
    display: flex;
    flex-direction: column;
    height: 90vh;
}

#allTasks {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.drag-area-highlight {
    background-color: rgba(0, 0, 0, 0.3);
}