/* === GENERAL === */

body {
    margin: 0;
    font-family: 'PT Sans', sans-serif;
}

.bold {
    font-weight: bold;
}

/* === COLORS === */

.blue {
    color: rgb(102, 115, 180);
}

.deepblue {
    color: rgb(30, 49, 144);
}
.bg-lightblue {
    background-color: rgb(244, 243, 251);
}


.bg-darkblue {
    background-color: rgb(30, 49, 144);
}

