<!DOCTYPE html>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/cookie-bar/cookiebar-latest.min.js?forceLang=en&theme=flying&customize=1&tracking=1&thirdparty=1&always=1&showPolicyLink=1&privacyPage=http%3A%2F%2Fgruppe-176.developerakademie.net%2FKanban-Board%2Fprivacy-policy.html"></script>

<div class="menu bg-darkblue">
    <div class="menu-top-section">
        <div class="logo-box">
            <a href="./board.html"><img src="icons/joinlogo.png" class="join-logo"></a>
        </div>
        <nav>
            <a class="menu-link" href="./board.html">Board</a>
            <a class="menu-link" href="./backlog.html">Backlog</a>
            <a class="menu-link" href="./add-task.html">Add Task</a>
            <a class="menu-link" href="./help.html">Help</a>
            <a class="menu-link" href="./privacy-policy.html">Privacy Policy</a>
            <a class="menu-link" href="./imprint.html">Imprint</a>
        </nav>
    </div>
    <div class="menu-bottom-section hide-mobile">
        <img id="menuImg" src="./img/daniel.jpg" class="menu-img">
    </div>
    <!--Dropdown menu for responsive-->
    <div class="dropdown">
        <img src="icons/dropdown-btn.png" onclick="dropdown()" class="dropbtn">
        <div id="myDropdown" class="dropdown-content">
            <a href="./board.html">Board</a>
            <a href="./backlog.html">Backlog</a>
            <a href="./add-task.html">Add Task</a>
            <a href="./help.html">Help</a>
            <a href="./privacy-policy.html">Privacy Policy</a>
            <a href="./imprint.html">Imprint</a>
        </div>
    </div>
</div>