<!DOCTYPE html>


<div class="menu bg-darkblue">
    <div class="menu-top-section">
        <div class="logo-box"><img src="icons/joinlogo.png" class="join-logo"></div>
        <nav>
            <a class="menu-link" href="../board.html">Board</a>
            <a class="menu-link" href="../backlog.html">Backlog</a>
            <a class="menu-link" href="../add-task.html">Add Task</a>
            <a class="menu-link" href="../help.html">Help</a>
        </nav>
    </div>
    <div class="menu-bottom-section">
        <img src="../img/daniel.jpg" class="menu-img">
    </div>
</div>

